@font-face { font-family: Heiti; src: url('AdobeHeitiStd-Regular.otf');}

/* Globally global*/
body {font-family: 'Heiti SC', sans-serif; color:#696969; font-size: 16px; font-weight: 400;}
body {padding: 0; margin: 0;width:100%;}
body section.main p {line-height: 1.8em; letter-spacing: 0.31px; font-size: 16px; font-weight: 300;}


/* header */
#title {max-width: 800px; margin: 0 auto; position: relative;}
body header {padding-top:80px; position: relative; width: 100%; padding-bottom: 130px;}
body header div.title {position: absolute; margin-left: 5%;}
body header div.title a {text-decoration: none; font-size: 3em; color: #000;}
body header div.title a:hover {color:#00EBFF;}
body header div.title p {font-size: 16px; color: #000;margin-top: 5px;}

/* nav */
body header nav {position: absolute; right:5%; margin-top: 39px;}
body header nav ul {list-style: none;}
body header nav ul li {display: inline; margin-left: 3em;;}
body header nav ul a {text-decoration: none;font-size: 1em; color: #000;}
body header nav ul a:hover {text-decoration: underline;color: #00EBFF;}

/*back*/
body section.main div.back {margin-top: 5em;}
body section.main a.back {text-decoration: none; font-size: 40px; color: #EEEEEE;
    padding: 40px; transition: background-color 1s;}
body section.main a.back:hover {background-color: #000000;}
body section.main a.back:visited {color: #EEEEEE;}


body section.main a.resume {text-decoration: none; font-size: 40px; color: #777777;
    padding: 40px; transition: background-color 1s; position: relative; margin-left: 19px;}
body section.main a.resume:hover {background-color: #00EBFF;}


body section.main h2 {letter-spacing: 0.36px}
body section.main p {margin-bottom: 40px; padding-left: 34.5%; padding-right: 33.5%;}
a.back {margin-left: 1.6%; margin-top: 40px; position: relative;}
img {width: 46%; margin-left: 27%; margin-bottom: 3em; margin-top: 40px;}




/* Footer */
footer { margin-bottom: 30px;margin-left: 41%; margin-top: 4em; color:#ccc; font-family:Helvetica; padding-bottom: 0px;}
